/*========================= GOOGLE FONTS =========================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Federo&family=Libre+Barcode+128&display=swap");

/*========================= VARIABLES CSS =========================*/
:root {
  /*-------------------- Colors --------------------*/
  --clr-dark: #131419;
  --clr-light: #ffffff;
  --clr-gray: #636363;
  --clr-light-second: #f6f6f6;
  --clr-theme: #0094ff;
  --clr-secondary: #774cff;

  /*-------------------- Font and typography --------------------*/
  --font-body: "Federo", "Poppins", sans-serif;
  --font-barcode: "Libre Barcode 128", cursive;

  --fs-big: 2rem;
  --fs-h1: 1.5rem;
  --fs-h2: 1.25rem;
  --fs-h3: 1.125rem;
  --fs-normal: 0.938rem;
  --fs-small: 0.813rem;
  --fs-smaller: 0.75rem;

  --fw-medium: 500;
  --fw-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 20;
  --z-modal: 30;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--clr-dark);
  /* background-color: #111111; */
  background-color: #f6f6f6;
  font-family: var(--font-body);
  font-size: var(--fs-h2);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--clr-gray);
}
img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/

/*==================== LAYOUT ====================*/

/*==================== NAV ====================*/
nav {
  margin: 1.25vh 7vw;
  padding: 0 1vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
nav ul li {
  line-height: 2rem;
}

.logo {
  font-size: 110px;
}
.logo:hover {
  color: var(--clr-secondary);
}

/*==================== HOME ====================*/
.home__container {
  margin: 0 7vw;
  padding: 0 1vw;
  display: grid;
  grid-template-columns: 1fr 1.75fr 1fr;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/*-------------------- Home Social Medias --------------------*/
.home__side-left {
  height: 95%;
}
.social-medias {
  height: 95%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
}
.social-medias a {
  transition: all 0.3s ease;
  /* font-size: var(--fs-normal); */
}

.social-blue,
.social-purple {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}
.social-blue:hover {
  color: var(--clr-theme);
}
.social-purple:hover {
  color: var(--clr-secondary);
}
/*-------------------- Home main images --------------------*/
.home__mid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
  color: var(--clr-light);
  background-color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  /* box-shadow: rgb(38, 57, 77) 5px 25px 35px -10px; */
}
.home__mid:hover {
  background-color: orangered;
}
.home__img-number {
  grid-area: 1 / 2 / 2 / 8;
}
.home__img {
  grid-area: 2 / 2 / 7 / 8;
}
.home__description {
  grid-area: 7 / 2 / 8 / 8;
}
.home__decoration {
  grid-area: 1 / 6 / 7 / 9;
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
}

.title-unique {
  color: var(--clr-theme);
}

/*-------------------- Home side right --------------------*/
.home__side-right {
  /* background-color: #002aff; */
  width: 100%;
}
